@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background-color: #edeaff;
    font-family: "Courier Prime", monospace;
}

.stopwatch{
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/background.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 150px auto 0;
    padding:40px 0;
    color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}

.button img:nth-child(2){
    width: 70px;
}